html, body{margin:0; padding:0}

body{
    overflow-x:hidden;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.nav {
    display: flex;
    height: 25vh;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 70px;
    padding-top: 20px;
}
.header a{
    text-decoration: none;
    color: black;
}

.elements {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none
}

.elements a {
    text-decoration: none;
    color: black;
}

.elements a:hover {
    color: white;
}

.navBar {
    display: flex;
    background: grey;
    justify-content: center;
    justify-content: space-between;
    text-decoration: none;
    height: 5vh;
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 8px;
}

.line{
    
    display: flex;
    width: 60vw;
    justify-content: center;
    align-items: center;
    margin: auto;

}