html, body{margin:0; padding:0}

body{
    overflow-x:hidden;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.nav {
    display: flex;
    height: 25vh;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 70px;
    padding-top: 20px;
}

.navBar ul li{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    justify-content: center;
    text-decoration: none
}

.navBar ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.line{
    
    display: flex;
    width: 70vw;
    padding-top: 10px;
    justify-content: center;
    margin: auto;

}